<section class="site-section" id="portfolio-section" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 position-relative">
                <h2 class="section-title text-center mb-5">Profile</h2>
            </div>
            <div class="col-12 mb-5">
                <div class="step">
                    <div class="step-header">
                        <div class="header">
                            <h3>Education</h3>
                        </div>
                        @* <div class="subheader">Hopefully this looks cool</div> *@
                    </div>
                    <div class="step-content one">
                        <div >
                            <div class="service d-flex h-100">
                                <div class="service-number mr-4">
                                    <span class="icon-style"></span>
                                </div>
                                <div class="service-about">
                                    <h3>Masters in Web and Cloud technology</h3>
                                    <h4>Tampere university of Technology</h4>
                                    <p>Currently attending </p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="service d-flex h-100">
                                <div class="service-number mr-4">
                                    <span class="icon-business_center"></span>
                                </div>
                                <div class="service-about">
                                    <h3>Information Technology</h3>
                                    <h4>2013 - Centria universiy of applied scinence </h4>
                                    <p>Bachelor of engineering</p>
                                </div>
                            </div>
                        </div>

                        <div >
                            <div class="service d-flex h-100">
                                <div class="service-number mr-4">
                                    <span class="icon-desktop_windows"></span>
                                </div>
                                <div class="service-about">
                                    <h3>Textile Engineering</h3>
                                    <h4>2007 - BahirDar university Engineering faculty </h4>
                                    <p>Bachelor of enginnering</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step minimized">
                    <div class="step-header">
                        <div class="header">
                            <h3>Experience</h3>
                        </div>
                        @* <div class="subheader">The content is a little bigger!</div> *@
                    </div>
                    <div class="step-content two">
                        <div >
                            <div class="service d-flex h-100">
                                <div class="service-number mr-4">
                                    <span class="icon-style"></span>
                                </div>
                                <div class="service-about">
                                    <h3>Software developer and system planner</h3>
                                    <h4>Since May 2018 untill now</h4>
                                    <p>Abilita oy</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="service d-flex h-100">
                                <div class="service-number mr-4">
                                    <span class="icon-business_center"></span>
                                </div>
                                <div class="service-about">
                                    <h3>Working with production machineries</h3>
                                    <h4>June 2013-April 2018</h4>
                                    <p>freshservant oy</p>
                                </div>
                            </div>
                        </div>

                        <div >
                            <div class="service d-flex h-100">
                                <div class="service-number mr-4">
                                    <span class="icon-desktop_windows"></span>
                                </div>
                                <div class="service-about">
                                    <h3>Software developer-Trainee </h3>
                                    <h4>Jan 2013-June 2013</h4>
                                    <p>Abilita oy</p>
                                </div>
                            </div>
                        </div>

                        <div >
                            <div class="service d-flex h-100">
                                <div class="service-number mr-4">
                                    <span class="icon-layers"></span>
                                </div>
                                <div class="service-about">
                                    <h3>Softwware developer-trainee</h3>
                                    <h4>May 2012-July 2012</h4>
                                    <p>Abilita oy</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                @* <div class="step minimized"> *@
                @*     <div class="step-header"> *@
                @*         <div class="header"> *@
                @*             <h3>Skills</h3> *@
                @*         </div> *@
                @*         $1$ <div class="subheader">Last but not the least!</div> #1# *@
                @*     </div> *@
                @*     <div class="step-content three"> *@
                @*         <div > *@
                @*             <div class="service d-flex h-100"> *@
                @*                 <div class="service-number mr-4"> *@
                @*                     <span class="icon-style"></span> *@
                @*                 </div> *@
                @*                 <div class="service-about"> *@
                @*                     <h3>UI/UX Designer</h3> *@
                @*                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p> *@
                @*                 </div> *@
                @*             </div> *@
                @*         </div> *@
                @* *@
                @*         <div> *@
                @*             <div class="service d-flex h-100"> *@
                @*                 <div class="service-number mr-4"> *@
                @*                     <span class="icon-business_center"></span> *@
                @*                 </div> *@
                @*                 <div class="service-about"> *@
                @*                     <h3>Web Development</h3> *@
                @*                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p> *@
                @*                 </div> *@
                @*             </div> *@
                @*         </div> *@
                @* *@
                @*         <div > *@
                @*             <div class="service d-flex h-100"> *@
                @*                 <div class="service-number mr-4"> *@
                @*                     <span class="icon-desktop_windows"></span> *@
                @*                 </div> *@
                @*                 <div class="service-about"> *@
                @*                     <h3>Brand &amp; Logo Design</h3> *@
                @*                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p> *@
                @*                 </div> *@
                @*             </div> *@
                @*         </div> *@
                @* *@
                @*         <div> *@
                @*             <div class="service d-flex h-100"> *@
                @*                 <div class="service-number mr-4"> *@
                @*                     <span class="icon-layers"></span> *@
                @*                 </div> *@
                @*                 <div class="service-about"> *@
                @*                     <h3>Web Design</h3> *@
                @*                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p> *@
                @*                 </div> *@
                @*             </div> *@
                @*         </div> *@
                @* *@
                @*         <div > *@
                @*             <button class="close-btn">Close</button> *@
                @*         </div> *@
                @*     </div> *@
                @* </div> *@
            </div>
        </div>
    </div>
</section>