<section class="site-section" id="portfolio-section" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 position-relative">
                <h2 class="section-title text-center mb-5">Profile</h2>
            </div>
            <div class="col-12 mb-5">
                <div class="step">
                    <div class="step-header">
                        <div class="header">
                            <h3>Education</h3>
                        </div>
                        @* <div class="subheader">Hopefully this looks cool</div> *@
                    </div>
                    <div class="step-content one">
                        <div >
                            <div class="service d-flex h-100">
                                <div class="service-number mr-4">
                                    <span class="icon-style"></span>
                                </div>
                                <div class="service-about">
                                    <h3>UI/UX Designer</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="service d-flex h-100">
                                <div class="service-number mr-4">
                                    <span class="icon-business_center"></span>
                                </div>
                                <div class="service-about">
                                    <h3>Web Development</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
                                </div>
                            </div>
                        </div>

                        <div >
                            <div class="service d-flex h-100">
                                <div class="service-number mr-4">
                                    <span class="icon-desktop_windows"></span>
                                </div>
                                <div class="service-about">
                                    <h3>Brand &amp; Logo Design</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
                                </div>
                            </div>
                        </div>

                        <div >
                            <div class="service d-flex h-100">
                                <div class="service-number mr-4">
                                    <span class="icon-layers"></span>
                                </div>
                                <div class="service-about">
                                    <h3>Web Design</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
                                </div>
                            </div>
                        </div>


                        <button class="next-btn">Next</button>
                    </div>
                </div>
                <div class="step minimized">
                    <div class="step-header">
                        <div class="header">
                            <h3>Experience</h3>
                        </div>
                        @* <div class="subheader">The content is a little bigger!</div> *@
                    </div>
                    <div class="step-content two">
                        <div >
                            <div class="service d-flex h-100">
                                <div class="service-number mr-4">
                                    <span class="icon-style"></span>
                                </div>
                                <div class="service-about">
                                    <h3>UI/UX Designer</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="service d-flex h-100">
                                <div class="service-number mr-4">
                                    <span class="icon-business_center"></span>
                                </div>
                                <div class="service-about">
                                    <h3>Web Development</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
                                </div>
                            </div>
                        </div>

                        <div >
                            <div class="service d-flex h-100">
                                <div class="service-number mr-4">
                                    <span class="icon-desktop_windows"></span>
                                </div>
                                <div class="service-about">
                                    <h3>Brand &amp; Logo Design</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
                                </div>
                            </div>
                        </div>

                        <div >
                            <div class="service d-flex h-100">
                                <div class="service-number mr-4">
                                    <span class="icon-layers"></span>
                                </div>
                                <div class="service-about">
                                    <h3>Web Design</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
                                </div>
                            </div>
                        </div>

                        <button class="next-btn">Next</button>

                    </div>
                </div>
                <div class="step minimized">
                    <div class="step-header">
                        <div class="header">
                            <h3>Skills</h3>
                        </div>
                        @* <div class="subheader">Last but not the least!</div> *@
                    </div>
                    <div class="step-content three">
                        <div >
                            <div class="service d-flex h-100">
                                <div class="service-number mr-4">
                                    <span class="icon-style"></span>
                                </div>
                                <div class="service-about">
                                    <h3>UI/UX Designer</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="service d-flex h-100">
                                <div class="service-number mr-4">
                                    <span class="icon-business_center"></span>
                                </div>
                                <div class="service-about">
                                    <h3>Web Development</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
                                </div>
                            </div>
                        </div>

                        <div >
                            <div class="service d-flex h-100">
                                <div class="service-number mr-4">
                                    <span class="icon-desktop_windows"></span>
                                </div>
                                <div class="service-about">
                                    <h3>Brand &amp; Logo Design</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="service d-flex h-100">
                                <div class="service-number mr-4">
                                    <span class="icon-layers"></span>
                                </div>
                                <div class="service-about">
                                    <h3>Web Design</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
                                </div>
                            </div>
                        </div>
                        
                        <div > <button class="close-btn">Close</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>