<section class="site-section" id="portfolio-section" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 position-relative">
                <h2 class="section-title text-center mb-5">Profile</h2>
            </div>
            <div >
                <div class="service d-flex h-100">
                    <div class="service-number mr-4">
                        <span class="icon-style"></span>
                    </div>
                    <div class="service-about">
                        <h3>UI/UX Designer</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="service d-flex h-100">
                    <div class="service-number mr-4">
                        <span class="icon-business_center"></span>
                    </div>
                    <div class="service-about">
                        <h3>Web Development</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
                    </div>
                </div>
            </div>

            <div >
                <div class="service d-flex h-100">
                    <div class="service-number mr-4">
                        <span class="icon-desktop_windows"></span>
                    </div>
                    <div class="service-about">
                        <h3>Brand &amp; Logo Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
                    </div>
                </div>
            </div>

            <div >
                <div class="service d-flex h-100">
                    <div class="service-number mr-4">
                        <span class="icon-layers"></span>
                    </div>
                    <div class="service-about">
                        <h3>Web Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>