@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<
<div class="site-section" id="register-section">
<div class="container">
    <div class="row ">
        <div class="col-12 mb-4 position-relative">
            <h2 class="section-title">@ViewData["Title"]</h2>
        </div>
    </div>
    
    <p>
        Please check your email to reset your password.
    </p>
</div>
</div>

