@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="site-section" id="register-section">
<div class="container">
    <div class="row ">
        <div class="col-12 mb-4 position-relative">
            <h2 class="section-title">@ViewData["Title"]</h2>
        </div>
         <p>
                Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
            </p>
    </div>
    
</div>
</div>
