@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="site-section" id="services-section">
    <div class="container">
        <div class="row ">
            <div class="col-12 mb-5 position-relative">
                <h2 class="section-title text-center mb-5">@ViewData["Title"]</h2>
                <br/>
            </div>
            <div>
                <p>Use this page to detail your site's privacy policy.</p>
            </div>
        </div>
    </div>
</div>
